{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}
    
{% block style %}
    
{% endblock style %}
    

{% block body %}
{% load static %}
    <!-- Carousal -->
    <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="{% static 'bgex.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="{% static 'btfl.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="{% static 'buti.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>

    <h1>Your Chatbot</h1><hr>
    <form action="" method="post">{% csrf_token %}
        Enter Your Prompt Here: <br>
        <textarea name="prompt" id=""></textarea><br>
        <button type="submit">submit</button>
    </form>

    
    {% if messages %}
        
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
            
    {% endif %}
        

{% endblock body %}
    

{% block script %}
    
{% endblock script %}
    